<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="style.css" />

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  </head>
  <body ng-app="todo" ng-controller="TodoCtrl">
    <!-- <h1>Todo List</h1> -->
    <todo-title></todo-title>

    <div class="container">
      <todo-form></todo-form>
      <!-- <form name="todoForm" ng-submit="add(newTodoTitle)">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            ng-model="newTodoTitle"
            placeholder="새로운  todo를 입력하세요"
            minlength="3"
          />
          <span class="input-group-btn">
            <button class="btn btn-success" type="submit">추가</button>
          </span>
        </div>
        <div ng-show="todoForm.$dirty && todoForm.$invalid">
          <div class="alert alert-warning" role="alert">
            3글자 이상 입력하세요.
          </div>
        </div>
      </form> -->
      {{todoForm}}
      <ul class="list-unstyled">
        <!-- ng-repeat=(변수, 인덱스) in $scope의 데이터 -->
        <li ng-repeat="todo in todos | filter:statusFilter">
          <todo-item></todo-item>
          <!-- <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" ng-model="todo.completed" />
            </span>
            <input type="text" class="form-control" ng-model="todo.title" />
            <span class="input-group-btn">
              <button
                ng-click="deleteClick(todo)"
                class="btn btn-danger"
                type="button"
              >
                삭제
              </button>
            </span>
          </div> -->
        </li>
      </ul>

      <todo-filters></todo-filters>
      <!-- <button class="btn btn-primary" ng-click="statusFilter={completed:true}">
        Completed
      </button>
      <button class="btn btn-primary" ng-click="statusFilter={completed:false}">
        Active
      </button>
      <button class="btn btn-primary" ng-click="statusFilter={}">All</button> -->
    </div>
    <!-- <script src="./script.js"></script> -->
    <script src="./app.js"></script>
    <script src="./controllers.js"></script>
    <script src="./directives.js"></script>
    <script src="./services.js"></script>
  </body>
</html>
